:host {
  overflow-y: scroll;

  background-image: url("../../../assets/backgrounds/fir-tree.jpg");
  background-position: center;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
  }

  &::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, .9);
  }
}

.message {
  float: left;
  clear: both;
  margin: 5px;
  padding: 8px;
  border-radius: 8px;
  background-color: #fff;
  max-width: 80%;

  .username {
    text-decoration: underline;
  }

  .text {
    margin-top: 6px;
    margin-bottom: 6px;
    word-wrap: break-word;

  }

  .time {
    float: left;
  }

  &.own {
    background-color: #d7f7c9;
    float: right;

    .time {
      float: right;
    }
  }
}

